.ee-grid {
  th.sortable {
    cursor: pointer;
    position: relative;
    &::after {
      content: '-';
      float: right;
    }
    &.asc::after {
      content: '\25B2';
    }

    &.desc::after {
      content: '\25BC';
    }
  }
}