.vertical-form {
  display: table;
  width: 100%;
  text-align: left;
  div {
    display: table-row;
    height: 2rem;
    text-align: left;
  }
  label, input {
    text-align: left;
    display: table-cell;
  }

  input {
    width: 100%;
    &[type="checkbox"] {
      width: inherit;
    }
  }

  button {
    margin: 0 2rem;
  }
}