;body.ee-modal-open {
  overflow: hidden;
}

.ee-modal-container {
  .ee-modal-bg{
    z-index: 10;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
  }

  .ee-modal {
    z-index: 20;
    position: absolute;
    top:0;
    left: 20%;
    width: 60%;
    max-height: 60vh;
    margin-top: 100px;
    padding: 1em 1em;
    overflow: auto;
    background: white;
    border: 1px solid lightgrey;
  }
}