@import '_variables';

body * {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: $page-font-size;
}

table {
  border-collapse: collapse;
  width: 100%;
  th {
    background: #e8e8e8;
  }
  th, td {
    padding: 0.5rem;
    border: 1px solid lightgray;
  }
}

button {
  font-size: 1.1rem;
}

a {
  color: cornflowerblue;
  text-decoration: underline;
  cursor: pointer;
}

label {
  display: block;
}

textarea {
  width: 100%;
  min-height: 250px;
}

.row {
  margin-bottom: 1rem;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}